<ion-card color="favorite" (click)="jumpToContent('/notice-answer')">

    <ion-card-content>
        <div class="my-task-card">
            <div class="my-task-card-time">
                <p>{{notice['timeStart']['timeDay']}} 日</p>
                <p><span>{{notice['timeStart']['timeYear']}}年</span><span>{{notice['timeStart']['timeMonth']}}月</span>
                </p>
                <span>报</span>
            </div>
            <div class="my-task-card-content">
                <h2>{{notice["title"]}}</h2>
                <p>{{notice['content']}}</p>
            </div>
        </div>
    </ion-card-content>
</ion-card>