<ion-content>
  <div class="my-card-list">
    <div>
      <app-assistance-card-header></app-assistance-card-header>
      <app-assistance-card-content></app-assistance-card-content>
      <app-assistance-card-footer></app-assistance-card-footer>
    </div>
    <div>
      <app-assistance-card-header></app-assistance-card-header>
      <app-assistance-card-content></app-assistance-card-content>
      <app-assistance-card-footer></app-assistance-card-footer>
    </div>
    <div>
      <app-assistance-card-header></app-assistance-card-header>
      <app-assistance-card-content></app-assistance-card-content>
      <app-assistance-card-footer></app-assistance-card-footer>
    </div>
    <div>
      <app-assistance-card-header></app-assistance-card-header>
      <app-assistance-card-content></app-assistance-card-content>
      <app-assistance-card-footer></app-assistance-card-footer>
    </div>
  </div>


</ion-content>