<div class="task-answer-middle">
    <p>作业内容</p>
    <div class="task-answer-middle-content">
        <p>请大家自学杨老师关于企业文化建设的培训课程，上交学习笔记以及自己为企业拟写的企业文化内容</p>
        <div>
            <img src="../../../../assets/images/taskVideo.jpg" alt="">
        </div>

    </div>
    <div>
        <p>
            <ion-avatar>
                <img src="../../../../assets/head/3.jpg">
            </ion-avatar>
            <span>开什么玩笑</span>
            <span>提交了作业</span>
        </p>

        <span>排行榜</span>
    </div>
</div>