<ion-item color="favorite" class="my-card-header" lines='none' routerLink='/business-card'>
    <ion-avatar>
        <img src="../../../../assets/head/2.jpg">
    </ion-avatar>
    <ion-label>
        <h2>Gollum</h2>
        <p>大同ＰＳ工作室 | ps 服务 | 加盟费: 30w</p>
    </ion-label>
    <ion-note class="my-business-card" slot="end" >
        <fa-icon class="task-finished" color="success" size='1x'
            [icon]="['far','address-card']"></fa-icon>
        <span>名片</span>
    </ion-note>

</ion-item>