.my-card-header ion-avatar {
    margin-right: 10px;
}

.my-card-header .item-inner{
    border-bottom: 0px;
}
.my-card-header{
    p {
        color: #b3b3b3;
    }
}

.my-business-card {
    color: #f7d460;
    font-size: 14px;
    span{
        margin-left: 5px;
    }
}

// ion-item {
//     border: 0px;
// }