<div class="answer-footer" *ngIf='notice["type"]==="0"'>
    <p>我要报名</p>
    <ion-row class="answer-default">
        <ion-col size="4">
            <p>{{notice.isNoticing.name}}</p>

        </ion-col>
        <ion-col size="4">
            <p>{{notice.isNoticing.order}}</p>
        </ion-col>
        <ion-col size="4">
            <p>{{notice.isNoticing.branch}}</p>
        </ion-col>
    </ion-row>
    <ion-row class="answer-default">
        <ion-col size="12" class="company">
            <p>{{notice.isNoticing.company}}</p>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col size="4">
            <p>联系方式</p>
        </ion-col>
        <ion-col size="8">
            <p>
                <input type="text" [value]="notice.isNoticing.phone">
            </p>
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="12">
            <p>备注</p>
        </ion-col>

    </ion-row>
    <ion-row>
        <ion-col size="12">
            <p>
                <textarea name="" id="" cols="30" rows="6"></textarea>
            </p>
        </ion-col>
    </ion-row>

    <section class="full-width">
        <ion-button id="answer-submmit" color="warning" expand="full">我要报名</ion-button>
    </section>
</div>

<div class="answer-footer-bao" *ngIf='notice["type"]==="1"'>
    <ul>
        <li>确认接收</li>
        <li *ngFor="let item of notice['noticedList']">
            <p>{{item.name}}</p>
            <p>{{item.company}}</p>

            <p>
                <fa-icon *ngIf="item['status']==='0'" class="font-green" size='1x' [icon]="['fas','check']"></fa-icon>
                <fa-icon *ngIf="item['status']==='1'" class="font-red" size='1x' [icon]="['fas','times']"></fa-icon>
            </p>
        </li>
    </ul>
    <div slot="fixed">
        <ion-button color="warning" expand="full">
            确认接收
        </ion-button>
    </div>
</div>