<ion-item color="favorite" class="my-card-header" lines='none'>
    <ion-avatar>
        <img [src]="notice['head']">
    </ion-avatar>
    <ion-label>
        <h2>{{notice['name']}}</h2>
        <p>{{notice['motto']}}</p>
    </ion-label>

    <fa-icon class="task-finished" color="success" *ngIf="showIcon==='finished'" size='1x'
        [icon]="['far','check-square']"></fa-icon>
    <fa-icon class="task-unfinished" color="danger" *ngIf="showIcon==='unfinished'" size='1x'
        [icon]="['far','minus-square']"></fa-icon>

</ion-item>