<ion-content class="hot-page">
  <div class="my-slide">
    <ion-slides>
      <ion-slide *ngFor="let item of images; let i=index">
        <img [src]="item['url']" />
        <div>
        </div>

      </ion-slide>
    </ion-slides>
  </div>
  <ion-button (click)="onClick()">
    Click me
  </ion-button>

  <div class="my-card" *ngFor="let item of data; let i=index">
    <app-card-view-header [header]='item["cardHeader"]'></app-card-view-header>

    <app-card-view-content [content]='item'></app-card-view-content>
  </div>

</ion-content>