<ion-content class="hot-page">
  <div class="my-slide">
    <ion-slides>
      <ion-slide>
        <img src="../../../assets/inventory/1.jpg" />
      </ion-slide>

      <ion-slide>
        <img src="../../../assets/inventory/2.jpg" />
      </ion-slide>

      <ion-slide>
        <img src="../../../assets/inventory/topImg_01.jpeg" />
      </ion-slide>
    </ion-slides>
  </div>

  <div class="my-card">
    <app-card-view-header></app-card-view-header>
    <app-card-view-content></app-card-view-content>
  </div>

</ion-content>