<ion-card >
  <ion-card-header>
    <ion-card-title>{{content.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div  [innerHTML]="content.content"></div>
    <div *ngIf="content['afterClassfication'].images.length">
      <ion-row *ngFor="let i of content['afterClassfication'].images">
        <ion-col size="12"  >
           <img [src]="i">
        </ion-col>
      </ion-row>
    </div>
    

    <ion-row *ngIf="content['afterClassfication'].singleImage">
      <ion-col size="12">
        <img [src]="content['afterClassfication'].singleImage">
      </ion-col>
    </ion-row>


    <ion-row *ngIf="content['afterClassfication'].video.length===1">
      <ion-col size="12">
         <img [src]="content['afterClassfication'].video">
      </ion-col>
    </ion-row>

    <ion-row *ngIf="content['afterClassfication'].voice.length === 1">
      <ion-col size="12">
        <img [src]="content['afterClassfication'].voice">
      </ion-col>
    </ion-row>

  </ion-card-content>
  
</ion-card>