ion-card {
    margin: 0px;
    background-color: #fff;
}

.my-image-container {
    margin-top: 10px
}


ion-col {
    padding: 0 1px;
  
}
ion-card-content {
    ion-row{
        padding: 10px 0;
    }
}
