<ion-content fullscreen>
  <ion-card>
    <ion-item class="my-card-header" lines='none'>
      <ion-avatar>
        <img [src]="user.head">
      </ion-avatar>

      <ion-label class='my-head-text'>
        <h1>Gollum</h1>
        <p>463 &nbsp;&nbsp; 积分</p>
      </ion-label>

      <ion-note class="my-head-set" slot='end'>
        <h1>
          <ion-icon name="build"></ion-icon>
        </h1>
        <p>设置 </p>
      </ion-note>
    </ion-item>
    <ion-card-content>
      <h2>{{user.motto}}</h2>

      <ion-row>
        <ion-col size="4">
          <span>性别：</span>
          <span>{{user.sex}} </span>
        </ion-col>
        <ion-col size="4">
          <span>生日：</span>
          <span>{{user.birthday}}</span>
        </ion-col>
        <ion-col size="4">
          <span>手机：</span>
          <span>{{user.phone}}</span>
        </ion-col>
      </ion-row>

      <ion-row class="">
        <ion-col size="4">
          <span>分会：</span>
          <span>{{user.identity1}}</span>
        </ion-col>
        <ion-col size="4">
          <span>身份：</span>
          <span>{{user.identity2}}</span>
        </ion-col>
        <ion-col size="4">
          <span>行业：</span>
          <span>{{user.industry}}</span>
        </ion-col>
      </ion-row>

      <ion-row class="my-show">
        <ion-col size="4">
          <img [src]="user.head" alt="">
        </ion-col>
        <ion-col size="4">
            <img [src]="user.head" alt="">
          </ion-col>
          <ion-col size="4">
              <img [src]="user.head" alt="">
            </ion-col>

      </ion-row>
      <div class="my-answer">
          <h2>我目前的工作在做什么？</h2>
          <p>{{user.answer1}}</p>
      </div>
   
      <div>
          <h2>我能给对方提供什么帮助？</h2>
          <p>{{user.answer2}}</p>
      </div>
        
      

    </ion-card-content>
  </ion-card>
</ion-content>