
ion-item-divider {
    height: 65px;
}

.my-note-first {
    margin-right: 15%;
    margin-left: 10px;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}
.my-note-second {
 
}
.my-note-third {
    margin-right: 15%;
}

.my-note-fouth {
    margin-right: 20px;
}