<ion-card color="favorite">

    <ion-card-content>
        <div class="my-task-card">
            <div class="my-task-card-time">
                <p>20 日</p>
                <p><span>19年</span><span>08月</span> </p>
            </div>
            <div class="my-task-card-content">
                <h2>企业文化建设</h2>
                <p>请大家自学杨老师关于企业文化建设的培训课程，上交学习笔记以及自己为企业,
                    请大家自学杨老师关于企业文化建设的培训课程，上交学习笔记以及自己为企业请大家自学杨老师关于企业文化建设的培训课程，上交学习笔记以及自己为企业请大家自学杨老师关于企业文化建设的培训课程，上交学习笔记以及自己为企业请大家自学杨老师关于企业文化建设的培训课程，上交学习笔记以及自己为企业请大家自学杨老师关于企业文化建设的培训课程，上交学习笔记以及自己为企业
                </p>
            </div>
        </div>
    </ion-card-content>
</ion-card>