<ion-content color="favorite">
  <div class="my-ranking">
    <div class="my-podiums">
      <ion-row>
        <ion-col *ngFor='let item of winner; let i=index'
         class="my-podium" size="4">
          <ion-avatar>
            <img [src]="item['header']">
          </ion-avatar>
          <p class="">{{item['position']}} . {{item['parent']}}</p>
          <p class="my-avatar-content">
              <fa-icon  size='1x' [icon]="['fas','eject']"></fa-icon>
              <span>{{item['average']}}</span>
              <fa-icon  size='1x' [icon]="['fas','thermometer-full']"></fa-icon>
              <span>{{item['score']}}</span>
            </p>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="my-change-btn">
      <ion-col size="6">
          <ion-button fill='clear' [color]="btnColor1" (click)="changeTab('left')" expand="full">综合成绩</ion-button>
      </ion-col>
      <ion-col size="6">
          <ion-button fill='clear' [color]="btnColor2" (click)="changeTab('right')" expand="full" >活跃度</ion-button>
      </ion-col>
    </ion-row>
    
  </div>
  <app-tab1-ranking-activity [content]='content' *ngIf='activity==="left"' ></app-tab1-ranking-activity>
  <app-tab1-ranking-record [content]='content' *ngIf='activity==="right"'></app-tab1-ranking-record>

</ion-content>

