<div class="task-answer-middle">
    <p>学员作业</p>
    <div class="task-answer-middle-content">
        <p>客户第一：客户是衣食父母。</p>
        <p>团队合作：共享共担，平凡人做平凡事。</p>
        <p>拥抱变化：迎接变化，勇于创新</p>
        <div>
            <img src="../../../../assets/images/taskAnswer.jpeg" alt="">
        </div>
    </div>
    <div>
        <p>
            <span>
                <fa-icon size='1x' [icon]="['far','thumbs-up']"></fa-icon>
            </span>
            <span>12</span>
        </p>
        <p>
            <span>
                <fa-icon size='1x' [icon]="['far','edit']"></fa-icon>
            </span>
            <span>23</span>
        </p>
        <p>
            <span>
                <fa-icon size='1x' [icon]="['far','star']"></fa-icon>
            </span>
            <span>23</span>
        </p>

    </div>
</div>