<ion-content class="my-login">
  <div>
    <div class="my-logo">
      <img src="../../../assets/images/logo.png" alt="">
    </div>
    <ion-list>
      <ion-item>
        <ion-label fixed>弟子身份证号</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>弟&nbsp;&nbsp;子&nbsp;&nbsp;登&nbsp;&nbsp;录</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

    </ion-list>
    <ion-button expand="full" color="warning" routerLink='/tabs/tab1/hot'>
      登录
    </ion-button>
  </div>

</ion-content>