<ion-card (click)="jumpToContent('/hot-content')">
  <ion-card-header>
    <ion-card-title>{{content.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div [innerHTML]="content.content">

    </div>
    <ion-row *ngIf="afterClassfication.images.length">
      <ion-col size="4" *ngFor="let i of afterClassfication.images">
        <img [src]="i">
      </ion-col>
    </ion-row>

    <ion-row *ngIf="afterClassfication.singleImage">
      <ion-col size="12">
        <img [src]="afterClassfication.singleImage">
      </ion-col>
    </ion-row>


    <ion-row *ngIf="afterClassfication.video.length===1">
      <ion-col size="12">
        <img [src]="afterClassfication.video">
      </ion-col>
    </ion-row>

    <ion-row *ngIf="afterClassfication.voice.length === 1">
      <ion-col size="12">
        <img [src]="afterClassfication.voice">
      </ion-col>
    </ion-row>

  </ion-card-content>
  <ion-row class="my-card-content">
    <ion-col size='3'>
      <button ion-button item-end color="light">
        <fa-icon size='1x' [icon]="['far','comments']"></fa-icon>
        <span> 评论 12</span>
      </button>

    </ion-col>
    <ion-col size='3'>
      <button icon-start clear small>
        <fa-icon size='1x' [icon]="['far','thumbs-up']"></fa-icon>
        <span> 点赞 12 </span>
      </button>
    </ion-col>
    <ion-col size='3'>
      <button icon-start clear small>
        <fa-icon size='1x' [icon]="['far','star']"></fa-icon>
        <span> 收藏 12 </span>
      </button>
    </ion-col>
    <ion-col size='3' align-self-right text-right>
      <button ion-button icon-end clear small>
        <ion-icon name="warning"></ion-icon>
        <span> 举报 </span>
      </button>
    </ion-col>
  </ion-row>
</ion-card>