ion-card {
    margin: 0px;
    background-color: #fff;
}

.my-image-container {
    margin-top: 10px
}

.my-card-content button{
    background-color: #fff;
    font-size: 13px;
   
}

.my-card-content ion-icon {
    font-size: 15px;
}
.my-card-content {
    margin: 10px;
}
ion-col {
    padding: 0 1px;
}