<ion-content class="my-content" color="favorite">
  <div>

  </div>
  <div slot="fixed" class="my-btns">
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col  size="4">
        <div  class="icon-1" >
            <fa-icon size='1x' [icon]="['fas','edit']"></fa-icon>
        </div>
       
        <span>作业</span>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
          <div class="icon-2" >
              <fa-icon size='1x' [icon]="['far','newspaper']"></fa-icon>
          </div>
       
        <span>记名传达</span>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
          <div class="icon-3" >
              <fa-icon size='1x' [icon]="['fas','volume-up']"></fa-icon>
          </div>
        
        <span>报名传达</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
          <div class="icon-4">
              <fa-icon  size='1x' [icon]="['far','handshake']"></fa-icon>
          </div>
        
        <span>托起</span>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
          <div class="icon-5" >
              <fa-icon size='1x' [icon]="['far','comments']"></fa-icon>
          </div>
        
        <span>话题</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"></ion-col>
      
      <ion-col size="4" (click)="backPage()">
          <div class="icon-6">
              <fa-icon  size='1x' [icon]="['far','window-close']"></fa-icon>
          </div>
        
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
  </div>

<!-- 
  <div class="my-close" slot="fixed" (click)="backPage()">
    <fa-icon size='1x' [icon]="['fas','times']"></fa-icon>
  </div> -->

</ion-content>