.my-btns{
    width: 100%;
    bottom: 10px;
    position: fixed;
    ion-row{
        margin-bottom: 20px;
        ion-col{
            text-align: center;
            font-size: 30px;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                box-shadow: 1px , 4px, 4px, #888888;
                text-align: center;
                line-height: 70px;
                margin-bottom: 10px;
            }
            span{
                color: #888888;
                font-size: 14px;
            }
            
        }
    }
   
}


.icon-1{
    background-image: linear-gradient(to top, rgb(250, 206, 12) , rgb(250, 250, 185));
}
.icon-2{
    background-image: linear-gradient(to top, rgb(9, 183, 252) , rgb(196, 228, 247));
}

.icon-3{
    background-image: linear-gradient(to top, rgb(250, 127, 12) , rgb(250, 203, 185));
}
.icon-4{
    background-image: linear-gradient(to top, rgb(12, 234, 250) , rgb(185, 250, 244));
}

.icon-5{
    background-image: linear-gradient(to top, rgb(9, 252, 171) , rgb(196, 247, 226));
}
.icon-6{
    background-image: linear-gradient(to top, rgb(250, 127, 12) , rgb(250, 203, 185));
}