.my-task-card-footer {
    font-size: 12px;
    width: 100%;
    ion-col:first-child{
        text-align: left;
        span{
            margin-left: 15px;
        }
    }
    ion-col:last-child{
        text-align: right;
    }

}